<div class="container">
  <button mat-button [matMenuTriggerFor]="aboveMenu" routerLink="/home">home</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Basic course</button>
  <button mat-menu-item>Advance course</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="belowMenu" routerLink="/user">User</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>New User</button>
  <button mat-menu-item>Already Existing user</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="beforeMenu">User details</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Partial User details</button>
  <button mat-menu-item>Entire User details</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="afterMenu">Info</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>About us</button>
  <button mat-menu-item>Contact us</button>
</mat-menu>
  </div>
  <div class="container" style="padding: 30px;">
  <router-outlet></router-outlet>
  </div>